@(user: String,
readOnly: Boolean,
details: models.repository.types.TypeRepositoryRecDetails,
fields: List[models.repository.types.TypesModel.Field],
log: Option[String] = None)(implicit messages: Messages, lang: Lang)

@inc.main("Type: " + details.record.name) {

@inc.nav(Some(user), "repository")

<div class="typeHeaderTitle" style="margin: 0 4%">
<h2 class="main"><a href="/private">@Messages("repository.title")</a> <span style="color: #909090;">/</span> Type: @details.record.name @if(!readOnly) { (Uncommitted) }</h2>
</div>

<div class="offset">
    <div style="padding: 12px 20px; border: 1px solid #e0e0e0;">
        @if(readOnly) {
        <a href="/private/service/types/@details.record.id/edit" class="button">Create New Version</a>
        }
        @if(!readOnly) {
        <input type="submit" class="save-type" name="doSave" value="Save" />
        }
    </div>
</div>

@defining( if(readOnly) "" else "type-editor" ) { style =>
<div class="offset @style">
    <div style="float: left; width: 33%;">
        <div class="panel" style="margin-right: 30px;">
            <div class="header">
                <h2>Metadata</h2>
            </div>
            <div style="padding: 20px;">
                <table width="100%">
                    <tr>
                        <td><b>Id:</b></td>
                        <td class="recordId">@details.record.id</td>
                    </tr>
                    <tr>
                        <td><b>Name:</b></td>
                        <td style="padding-right: 10px;">
                            @if(readOnly) { @details.record.name }
                            @if(!readOnly) { <input type="text" class="typeName" value="@details.record.name" style="width: 90%;" /> }
                        </td>
                    </tr>
                    <tr>
                        <td><b>Sequence:</b></td>
                        <td style="padding-right: 10px;">
                            @if(readOnly) { @details.record.seq }
                            @if(!readOnly) { <input type="text" class="typeSequence" value="@details.record.seq" style="width: 90%;" /> }
                        </td>
                    </tr>
                </table>
            </div>
            <!--div class="actions">
                @if(readOnly) {
                <a href="/private/service/types/@details.record.id/edit" class="button">Create New Version</a>
                }
                @if(!readOnly) {
                <input type="submit" name="doSave" value="Save"/>
                }
            </div-->
        </div>
    </div>
    <div style="float: right; width: 67%;">

        <div class="panel type-fields">
                <div class="header">
                    <h2>Fields</h2>
                </div>
                <!--div class="actions">
                    @if(readOnly) {
                    <a href="/private/service/rules/@details.record.id/edit" class="button">Edit</a>
                    }
                    @if(!readOnly) {
                    <input type="submit" class="save-type" name="doSave" value="Save" />
                    }
                </div-->
                <div class="field-list" style="padding: 20px;">

                    <div class="fieldHeader">
                        <div class="fieldName">Name</div>
                        <div class="fieldType">Type</div>
                        <div style="clear: left;"></div>
                    </div>
                    @fields.zipWithIndex.map { case (item,i) =>
                    <div class="field">
                        <div class="fieldName">
                            @if(readOnly) {
                            @item.name
                            } else {
                            <input type="text" class="name" value="@item.name" />
                            }
                        </div>
                        <div class="fieldType">
                            @if(readOnly) {
                            <span class="type">@item.typeDef</span>
                            } else {
                            <a href="#" class="type" data-type="@item.typeDef">@item.typeDef</a>
                            }
                        </div>
                        @if(!readOnly) {
                        <div class="fieldActions">
                            <a href="#" class="up">U</a> <a href="#" class="down">D</a> <a href="#" class="delete"><span>R</span></a>
                        </div>
                        }
                        <div style="clear: left;"></div>
                    </div>
                    }

                </div>
                @if(!readOnly) {
                <div class="actions">
                    <input type="button" class="field-add" value="Add" />
                </div>
                }
        </div>

    </div>
    <div style="clear: both;"></div>
</div>
}
<!--
<script type="text/javascript">
        $('#ruleEditor').ajaxForm({
        success: function (result) {
            alert(result.status)
        }
    });
</script>
-->
<style>


    DIV.fieldName {
        float: left;
        width: 50%;
    }

    DIV.fieldName INPUT {
        width: 80%;
        margin: 4px 0;
    }

    DIV.fieldType {
        float: left;
        width: 30%;
        padding: 6px 0;
    }

    DIV.fieldActions {
        float: left;
        width: 20%;
        padding: 6px 0;
    }

    DIV.fieldActions .up,
    DIV.fieldActions .down {
        display: none;
    }

    DIV.fieldHeader {
        font-weight: 600;
    }

SPAN.type {
    color: #008000;
    font-weight: 600;
    }

    A.delete {
    background: transparent url(/assets/images/remove.png) 50% 50% no-repeat;
    width: 32px;
    height: 32px;
    display: block;
    border-bottom: 0 none;
    margin: 0 0 0 auto;
    opacity: 0.6;
    }
    A.delete:HOVER {
    opacity: 1;
    }
    A.delete SPAN {
    visibility: hidden;
    }

</style>

<!--div class="panel">
    <form id="ruleEditor" action="/private/service/rules/@details.record.id/save" method="post" enctype="application/x-www-form-urlencoded">
        <div class="header">
            <h2>Definition @if(!readOnly) { (Edit Mode) }</h2>
        </div>
        <div class="actions">
            @if(readOnly) {
            <a href="/private/service/rules/@details.record.id/edit" class="button">Edit</a>
            }
            @if(!readOnly) {
            <input type="submit" class="save-type" name="doSave" value="Save" />
            }
        </div>
        <div style="padding: 20px;">

            <div style="padding: 0 42px 20px 20px; font-weight: 600; float: left;">
                <div>Id: @details.record.id</div>
                <div>Name: </div>
                <div><input type="text" value="@details.record.name" /></div>
                <div>Sequence: </div>
                <div><input type="text" value="@details.record.seq" /></div>
            </div>

            <div style="float: left;">
            <table class="fields" style="margin: 0 auto;">
                <tr>
                    <th></th>
                    <th>Field</th>
                    <th>Type</th>

                    <th></th>
                </tr>
                @fields.map { item =>
                <tr class="field" data-name="@item.name" data-type="@item.typeDef">
                    <td class="handler">#</td>
                    <td class="name">@item.name</td>
                    <td class="type">@item.typeDef</td>

                    <td class="acts"></td>
                </tr> }
                <tr class="acts">
                    <td colspan="4"><span><a href="" class="add-last">Add</a></span></td>
                </tr>
            </table>
            </div>

            <div style="clear: both;">&nbsp;</div>

        </div>
        <!-div style="padding: 20px;"><div style="display: flex;">
            @if(readOnly) {
            <pre>@details.record.definition</pre>
            }
            @if(!readOnly) {
            <textarea name="definition" class="code" style="width: 100%" rows="30">@details.record.definition</textarea>
            }
        </div></div->
        <div class="actions">
            @if(readOnly) {
            <a href="/private/service/rules/@details.record.id/edit" class="button">Edit</a>
            }
            @if(!readOnly) {
            <input type="submit" class="save-type" name="doSave" value="Save" />
            }
        </div>
    </form>
    <script type="text/javascript">
        $('#ruleEditor').ajaxForm({
        success: function (result) {
            alert(result.status)
        }
    });
    </script>
</div-->

<!--div class="panel">
    <h2>Actions</h2>
    <div style="padding: 20px;">
        @if(details.actions.isEmpty) {
        <pre>None</pre>
        }
        @for(action <- details.actions) {
        <div>
            Action: @action.id is @action.action
        </div>
        }
    </div>
</div-->

    @if(log.isDefined) {
    <div class="panel">
        <h2>Log</h2>
        <div style="padding: 20px;">
            <pre>@log</pre>
        </div>
    </div>
    }
}
