@(user: String,
readOnly: Boolean,
details: models.repository.types.TypeRepositoryRecDetails,
fields: List[models.repository.types.TypesModel.Field],
log: Option[String] = None)(implicit request: RequestHeader, messages: Messages, lang: Lang, availableLanguages: Seq[Lang])
@import helper._
@inc.main("Type: " + details.record.name) {

@inc.nav(Some(user), "repository")

<div class="typeHeaderTitle" style="margin: 0 4%">
<h2 class="main"><a href="/private">@Messages("repository.title")</a> <span style="color: #909090;">/</span> Type: @details.record.name @if(!readOnly) { (Uncommitted) }</h2>
</div>

<div class="offset">
    <div style="padding: 12px 20px; border: 1px solid #e0e0e0;">
        @if(readOnly) {
        <a href="/private/service/types/@details.record.id/edit" class="button">Create New Version</a>
        }
        @if(!readOnly) {
        <input type="submit" class="save-type" name="doSave" value="Save" />
        }
    </div>
</div>


<div class="offset type-editor">
    <div style="float: left; width: 33%;">
        <div class="panel" style="margin-right: 30px;">
            <div class="header">
                <h2>Metadata</h2>
            </div>
            <div style="padding: 20px;">
                <table width="100%">
                    <tr>
                        <td><b>Id:</b></td>
                        <td class="recordId">@details.record.id</td>
                    </tr>
                    <tr>
                        <td><b>Name:</b></td>
                        <td style="padding-right: 10px;">
                            @if(readOnly) { @details.record.name }
                            @if(!readOnly) { <input type="text" class="typeName" value="@details.record.name" style="width: 90%;" /> }
                        </td>
                    </tr>
                    <tr>
                        <td><b>Sequence:</b></td>
                        <td style="padding-right: 10px;">
                            @if(readOnly) { @details.record.seq }
                            @if(!readOnly) { <input type="text" class="typeSequence" value="@details.record.seq" style="width: 90%;" /> }
                        </td>
                    </tr>
                </table>
                @CSRF.formField
            </div>
            <!--div class="actions">
                @if(readOnly) {
                <a href="/private/service/types/@details.record.id/edit" class="button">Create New Version</a>
                }
                @if(!readOnly) {
                <input type="submit" name="doSave" value="Save"/>
                }
            </div-->
        </div>
    </div>
    <div style="float: right; width: 67%;">

        <div class="panel type-fields">
                <div class="header">
                    <h2>Fields</h2>
                </div>
                <!--div class="actions">
                    @if(readOnly) {
                    <a href="/private/service/rules/@details.record.id/edit" class="button">Edit</a>
                    }
                    @if(!readOnly) {
                    <input type="submit" class="save-type" name="doSave" value="Save" />
                    }
                </div-->
                <div class="field-list" style="padding: 20px;">

                    <div class="fieldHeader">
                        <div class="fieldName">Name</div>
                        <div class="fieldType">Type</div>
                        <div style="clear: left;"></div>
                    </div>
                    @fields.zipWithIndex.map { case (item,i) =>
                    <div class="field">
                        <div class="fieldName">
                            @if(readOnly) {
                            @item.name
                            } else {
                            <input type="text" class="name" value="@item.name" />
                            }
                        </div>
                        <div class="fieldType">
                            @if(readOnly) {
                            <span class="type">@item.typeDef</span>
                            } else {
                            <a href="#" class="type" data-type="@item.typeDef">@item.typeDef</a>
                            }
                        </div>
                        @if(!readOnly) {
                        <div class="fieldActions">
                            <a href="#" class="up">U</a> <a href="#" class="down">D</a> <a href="#" class="delete"><span>R</span></a>
                        </div>
                        }
                        <div style="clear: left;"></div>
                    </div>
                    }

                </div>
                @if(!readOnly) {
                <div class="actions">
                    <input type="button" class="field-add" value="Add" />
                </div>
                }
        </div>

    </div>
    <div style="clear: both;"></div>
</div>


    @if(log.isDefined) {
    <div class="panel">
        <h2>Log</h2>
        <div style="padding: 20px;">
            <pre>@log</pre>
        </div>
    </div>
    }
}
