
@import "reset";
@import "source-sans-pro";

HTML {

	overflow-y: scroll;
	height: 100%;
}

BODY {
	background-color: #f5f5f5;
	/*margin-bottom: 40px;
	min-width: 1100px;*/
	height: 100%;
}

BODY, INPUT {

	font: normal normal normal 16px/1.8em 'Source Sans Pro', BitterRegular, 'Open Sans', 'Droid Sans', Arial, sans-serif;
	color: #202020;

	-webkit-font-smoothing: subpixel-antialiased;
	text-rendering: optimizelegibility;
}

A, A:VISITED {
  color: #0062C4;
  text-decoration: none;
  transition: color 0.1s ease-in-out 0s, background-color 0.15s ease-in-out 0s;
  border-bottom: 1px solid #BFD8F0; }

A:HOVER {
  color: #09F;
  text-decoration: none;
  border-bottom: 1px solid #09F; }

H2 A,
H2 A:VISITED,
H2 A:HOVER,
NAV A,
NAV A:VISITED,
NAV A:HOVER {
  border-bottom: 0 none;
}

INPUT {
	padding: .5em
}

TABLE.repo TD {
	padding: .6em 1.4em;
	font-weight: normal;
}

H3 {
	margin-top: 1em;
}

.locked {
	background-color: #f0f0f0;
}


H2 {
	padding: 20px 20px 16px 20px;
	font-size: 18pt;
}

H2.main {
  font-size: 32pt;
  margin: 30px 0 0 0;
  line-height: 42pt;
  font-weight: 600;
  text-shadow: 0 1px 1px #FFF;
  color: #755382;

  A {
  	color: #AAA;
  	text-decoration: none;
  }

  A:HOVER {
  	text-decoration: underline;
  }
}

.popup H2 {
	color: #755382;
}

DIV.offset {
 	margin: 30px 4% 0px 4%;
}

@panelBorderColor: #e0e0e0;

DIV.panel {
	background-color: #FFF;
	border: 1px solid @panelBorderColor;
	border-bottom-width: 2px;
	margin: 30px 4% 30px 4%;
	padding: 0;

		.header {
			h2 {
				border-bottom: 0 none;
			}
			border-bottom: 1px solid @panelBorderColor;
		}

	DIV.table {
		margin: 12px 0px 20px 0px;

		table {

			width: 100%;

			th {
				padding: 4px 0 10px 1.4em;
				text-align: left;
			}

			td {
				/*padding-left: 1em;*/
				text-align: left;
			}
		}
	}

	H2 {
	  border-bottom: 1px solid @panelBorderColor;
	}

	.actions {
		padding: 12px 20px;
		background-color: #f8f8f8;
		border-top: 1px solid @panelBorderColor;
		/*height: 42px;*/

		form {
			float: left;

			input[disabled] {
				color: #aaa;
			}
		}
	}

	.header + .actions {
		border-top: 0 none;
		border-bottom: 1px solid @panelBorderColor;
	}
}

DIV.offset DIV.panel {
	margin: 0 0 30px 0;
}

DIV.offset DIV.panel.last {
	margin: 0 0 0 0;
}


TEXTAREA.code {
  font-family: consolas, monospace;
}

SELECT {
    border: 1px solid #e0e0e0;
    border-bottom-width: 2px;
    padding: 2px 4px;
}

.info-identity {

	color: firebrick;
}

TR.current-rec {
	background-color: #f8f8f8;
}

TABLE.header + .panel {
	margin-top: 0px;
}


@import "forms";

@import "navigation";
@import "headersWithIcons";
@import "paging";

.create-folder-link,
.create-type-link,
.create-ruleset-link {
	display: block;
	padding: 110px 20px 12px 20px;
	float: left;
	width: 100px;
	background: transparent url(/assets/images/support-icon.png) 50% 20px no-repeat;
	text-align: center;
    margin: 0;
    border: 0 none;
    border-radius: 4px;
}
.create-ruleset-link {
	background-image: url(/assets/images/networking-icon.png);
}
.create-folder-link {
	background-image: url(/assets/images/folder-icon.png);
}

.create-folder-link:HOVER,
.create-type-link:HOVER,
.create-ruleset-link:HOVER {
    border: 0 none;
    background-color: #f0f0f0;
}

A.type {
    color: #008000;
    font-weight: 600;
    border-bottom-color: #9CD29C;
}
A.type:HOVER {
    border-bottom-color: #008000;
}


DIV.offset .container-rules DIV.panel.last {
    margin: 0 0 30px 0;
}


@media all and (min-width: 1100px) {

    .container-parameters {
        /*float: left;
        width: 30%*/
    }

    .container-args {
        width: 50%;
        float: left;

        .panel {
            margin-right: 15px !important;
        }
    }

    .container-results {
        width: 50%;
        float: right;

        .panel {
            margin-left: 15px !important;
        }
    }

    .container-rules {
        /*float: right;
        width: 70%;*/
        clear: both;
    }

}

BODY {
	background: #404040;
}

.body {
	background-color: #f5f5f5;
	padding-bottom: 40px;
	min-height: 90%;
}

.footer {
	background: #404040;
	border-top: 2px solid #303030;
	height: 30px;
}


.rule-set-editor {

    DIV.results-list DIV.header,
    DIV.args-list DIV.header {
        padding: 4px 0 8px 0;
        border-bottom: 0 none;
        font-weight: 600;
    }

    .typeName {
        color: #008000;
        font-weight: 600;
        padding: 2px 0;
    }

    TABLE TH {
        padding: 4px 0 8px 0;
    }

    TABLE TD {
        padding: 2px 0;
    }

    .like-panel {
        margin: 0px 4% 0px 4%;
        padding: 0
    }
    .border {
        border-color: #C0C0C0;
        border-style: solid;
    }
    h2.section {
        color: #AAA;
        padding: 26px 20px 16px 0px;
        text-shadow: 0 1px 1px #FFF;
    }
    .p {
        background-color: #FFF;
        border: 1px solid #ccc;
        border-bottom-width: 2px;
        margin: 10px 6% 10px 0;
        padding: 0;
    }

    TH {
        text-align: left;
    }

    H3 {
        font-size: 1.2em;
        padding: 0 0 1.4em 0;
    }

    div.rules TD,
    div.rules TH {
        padding: 2px 20px;
        border-bottom: 1px solid #e0e0e0;
    }
    div.rules TABLE TABLE TD,
    div.rules TABLE TABLE TH {
        padding: 8px 0;
        border-bottom: 0px none;
    }

    div.rules TABLE TABLE TH {
        width: 120px;
    }

    TABLE.item TH {
        background-color: #f0f0f0
    }

    TABLE.item TH,
    TABLE.item TD {
        padding: 0px 0;
        vertical-align: top;
    }

    DIV.fieldHeader {
        padding: 6px 20px 10px 20px;
    }

    DIV.fieldFrame {
        padding: 6px 20px 6px 12px;
    }

    DIV.fieldFrame TEXTAREA {
        margin: 0;
        padding-top: 4px;
    }

    .syntaxhighlighter {
        overflow: hidden !important;
        width: auto !important;
        margin: 5px 12px 6px 12px !important;
    }

    INPUT[type=text] {
        margin: 4px 0;
    }

    .up, .down {
        display: none;
    }

    A.delete {
        background: transparent url(/assets/images/remove.png) 50% 50% no-repeat;
        width: 32px;
        height: 32px;
        display: block;
        border-bottom: 0 none;
        margin: 0 0 0 auto;
        opacity: 0.6;
    }

    A.delete:HOVER {
        opacity: 1;
    }

    A.delete SPAN {
        visibility: hidden;
    }

}

.loginForm {
    .loginHeaderTitle {
        margin: 24px 40px;
        background-position: 0 10px;
        padding-top: 12px;
    }

    .loginError {
        padding: 6px 40px 30px;
    }

    .loginTitle {
        vertical-align: middle;

        label {
            text-align: left;
            width: auto;
            margin: 0 auto;
            padding: 0 20px 0 0;
            color: #777;
        }
    }

    .passwordTitle {
        vertical-align: middle;
        label {
            text-align: left;
            width: auto;
            margin: 0 auto;
            padding: 0 20px 0 0;
            color: #777;
        }
    }
}