@(message: String, user: Option[String], error: Option[String], redirect: Option[String])(implicit request: RequestHeader, messages: Messages, lang: Lang, availableLanguages: Seq[Lang])
@import helper._
@inc.main("Login") {

   @inc.nav(user)

<div style="padding: 10% 20px; text-align: center;">
    <div class="loginForm" style="margin: 0 auto; text-align: left; max-width: 474px;  background-color: #fff; border: 1px solid #ccc; border-bottom: 2px solid #ccc;">

        @form(routes.AuthenticationController.enter()) {

        <div class="loginHeaderTitle">
            <h2>Login</h2>
        </div>
        <div class="loginError">
            @if(error.isDefined) {
            <div>@error.get</div>
            }

        <table border="0" >
            <tr>
                <td class="loginTitle"><label>Login</label></td>
                <td><input type="text" name="login" value="admin" style="width: 280px;" data-ripple-color="#89669b" /></td>
            </tr>
            <tr>
                <td class="passwordTitle" style=""><label>Password</label></td>
                <td><input type="password" name="password" value="password" style="width: 280px;" data-ripple-color="#89669b" /></td>
            </tr>
        </table>
		<input type="hidden" name="redirect" value='@redirect.getOrElse("")' />
        @CSRF.formField
        </div>
        <div style="padding: 26px 40px;text-align: center;border-top: 1px solid #ccc; background-color: #f8f8f8;">
        <div style="margin: 0 auto; text-align: right; width: 364px; ">
		    <input type="submit" name="login-button" value="Enter" />
        </div>
        </div>
	 }
    </div>
</div>
}
